footer {
  background-color: pink;
  width: 100%;
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  .copy {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  // display: inline;
}
.socials {
  width: 150px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //   background-color: aqua;

  &__img {
    height: 40px;
    width: 40px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .twitter {
    background-image: url(../images/twitter.png);
  }

  .fb {
    background-image: url(../images/facebook.png);
  }
}

@media screen and (max-width: 800px) {
  footer {
    padding: 30px 15px;
    flex-direction: column;
    // height: 100px;
    justify-content: center;
    .copy {
      flex-direction: column;
    }
  }
}
